body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  margin: 0;
  background: rgb(247, 247, 247);
}

.container {
  color: black;
  font-size: 22px;
  background: #eee;
  margin: 50px auto 0 auto;
  padding: 50px 80px;
  width: 900px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

button {
  display: block;
  width: 300px;
  margin-bottom: 12px;
  padding: 8px 12px;
  background: white;
  border: 2px solid black;
  font-size: 22px;
  border-radius: 8px;
}

button:hover {
  border-color: rgb(171, 171, 171);
}

.btn-block {
  float: left;
  padding: 5px 35px;
}
.results-block {
  display: inline-block;
  border-left: 5px solid rgb(221, 221, 221);
  padding: 0px 15px;
}

table {
  width: 100%;
  text-align: left;
}

th {
  border-bottom: 1px solid black;
  color: rgb(65, 65, 65);
  text-align: center;
}

td {
  border-bottom: 5px solid white;
  padding: 8px;
}

.total-wealth {
  background: rgb(255, 255, 227);
  color: #1f1f1f;
  margin: 20px 5px;
  padding: 3px 4px;
  text-align: right;
  font-size: 26px;
  font-weight: bold;
}
